.container {
    margin: auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10rem;
    left: 32.5rem;
    z-index: 500;
    background-color: white;
    width: 30rem;
    height: 25rem;
    border-radius: 1rem;
}

/* textarea {
    margin-top: 40px;
    width: 400px;
    height: 100px;
} */

button {
    width: 400px;
}